<div style="padding: 24px;">
  <div class="mat-elevation-z2" style="padding: 24px; background: white; height: 100%;">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" style="margin-left: 5px">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="dep" placeholder="Cesar">
          <mat-option value="null">Ninguno</mat-option>
          <mat-option [value]="dep._id" *ngFor="let dep of departamentos">{{dep.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left: 5px">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="city" placeholder="Aguachica">
          <mat-option value="null">Ninguno</mat-option>
          <mat-option [value]="city._id" *ngFor="let city of mCiudades">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left: 5px">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="sede" placeholder="Fitness Sport">
          <mat-option value="null">Ninguno</mat-option>
          <mat-option [value]="sede._id" *ngFor="let sede of mSedes">{{sede.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <mat-form-field appearance="outline" style="margin: 24px 24px 0 24px">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="Escriba algo para filtrar">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>
      <!--  Columna ID-->
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row._id}} </mat-cell>
      </ng-container>

      <!-- Columna Nombre-->
      <ng-container matColumnDef="document">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.document}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Registrado el </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created_date}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColmns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColmns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="25" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>
