<div class="aligner">
  <mat-card class="aligner-center-item mat-elevation-z4">
    <mat-card-title>
      Login Form
    </mat-card-title>
    <mat-card-content>
      <form id="login-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <mat-form-field appearance="outline" style="width: 100%;margin-bottom: 10px;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 1}">
          <mat-label>Correo electronico</mat-label>
          <input matInput type="text" formControlName="email" placeholder="usuario@miemail.com"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.email.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.email.hasError('required')">
            Este campo es requerido
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;" [ngClass]="{'mat-input-invalid': submitted && error?.code == 2}">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" placeholder="123456"/>
          <mat-hint style="color: red;" *ngIf="submitted && error?.code == 2 && !loginForm.controls.password.hasError('required')">{{error.message}}</mat-hint>
          <mat-hint style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">
            Este campo es requerido
          </mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align: right;">
      <button mat-raised-button color="primary" type="submit" form="login-form">Ingresar</button>
      <a mat-raised-button color="primary" [routerLink]="['/registro']">Registrarse</a>
    </mat-card-actions>
  </mat-card>
</div>
